.title {
    font-size: 300px;
    text-align: center;
}
.redcol {
    color: red;
}
.greencol {
    color: green;
}
.orangecol {
    color: orange;
}
.supergreencol {
    color:seagreen;
}
.pastelcol {
    color:thistle;
}